.catconvert-default-btn{
}

.catconvert-default-container{
    font-size: 12px;
    margin-bottom: 23px;
    margin-top: -33px;
}

.catconvert-default-container-position-right{
    float: right;
}

.catconvert-default-container-position-left{
    float: left;
}